@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.user-block>button,
.user-debug>button {
    float: left;
    padding: 15px;
    margin: 15px 15px 15px 0;
}

.user-debug>pre {
    clear: both;
}